name: Check YAML Formatting

on:
  pull_request:
    paths:
      - "**/*.yml"
      - "**/*.yaml"
  push:
    branches: [main]
    paths:
      - "**/*.yml"
      - "**/*.yaml"

permissions:
  contents: read

jobs:
  yaml-format:
    name: Check YAML Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5  # v5.5.0
        with:
          go-version-file: go.mod
          cache: false
      - run: make lint/yaml
