name: Check Typos

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  check-typos:
    name: Check Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: crate-ci/typos@2d0ce569feab1f8752f1dde43cc2f2aa53236e06  # v1.40.0
        with:
          config: .config/typos.toml
