name: Check YAML Formatting

on:
  pull_request:
    paths:
      - "**/*.yml"
      - "**/*.yaml"
  push:
    branches: [main]
    paths:
      - "**/*.yml"
      - "**/*.yaml"

permissions:
  contents: read

jobs:
  yaml-format:
    name: Check YAML Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4.3.1
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5  # v5.5.0
        with:
          go-version-file: go.mod
          cache: false
      - run: make lint/yaml
