name: Check Typos

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  check-typos:
    name: Check Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0

      - name: Check Typos
        uses: crate-ci/typos@0c17dabcee8b8f1957fa917d17393a23e02e1583  # v1.36.3
        with:
          config: .config/typos.toml
