name: Check Typos

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  check-typos:
    name: Check Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: crate-ci/typos@626c4bedb751ce0b7f03262ca97ddda9a076ae1c  # v1.39.2
        with:
          config: .config/typos.toml
