name: Check Typos

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  check-typos:
    name: Check Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: crate-ci/typos@2d0ce569feab1f8752f1dde43cc2f2aa53236e06  # v1.40.0
        with:
          config: .config/typos.toml
