name: Release
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  release:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          go-version-file: 'go.mod'
      - name: Build binary
        run: make build-all
      - name: Create Release and Upload Assets
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b  # v1.20.0
        with:
          # Draft the release so it can be edited before publishing
          draft: true
          artifacts: "dist/otel-*"
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}
